@import "tailwindcss";

.rainbow-orb {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  height: 70vw;
  max-width: 500px;
  max-height: 500px;
  z-index: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.4),
    rgba(236, 72, 153, 0.35),
    rgba(192, 132, 252, 0.4),
    rgba(253, 224, 71, 0.35),
    rgba(255, 255, 255, 0)
  );
  background-size: 200% 200%;
  animation: rainbowMove 6s ease-in-out infinite;
  filter: blur(80px);
  opacity: 0.8;
  border-radius: 50%;
  pointer-events: none;
}

@keyframes rainbowMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3f3f3f;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
